@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div align="center">
    <img src="~/images/cowboy-cafe-images/BuckingBronco.png" alt="A Bucking Bronco" />

    <h2>Whoops partner, you just got bucked off by an error!</h2>
</div>
